.content {
  display: grid;
  gap: 10px;

  grid-template-areas: 
  "c1 c2 c3"
  "c4 c5 c6"
  "c7 c8 c9";

  padding: 20px 30px;
  width: 100%;
  height: 100%;
  background-color: #f0f1f0;

  grid-area: content;
}

